# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Public.com\formatApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
